/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible');
/*HEADER*/
header {
	margin-left:8;
	padding:8px 0px 8px 0px;
	text-align:left;
	background-color:#2f3136;
	color:#75797e;
	position:relative;
	bottom:0;
	width:100%;	
	font-size:20px;
}
/*BODY*/
body {
	margin:0;
	padding:0;
	background-color:#36393f;
	font-family:Atkinson Hyperlegible, Tahoma, sans-serif;
	color:white;
	min-height:100vh;
	display:flex;
	flex-direction:column;
}
p {
	margin:15px 2px 0px 8px;
}
/*TITLES*/
h1 {
	margin:8px 2px 0px 8px;
}
h2 {
	margin:15px 2px 0px 8px;
}
/*LINKS*/
a:link {
	color:#089fe1;
	background-color:transparent;
	text-decoration:none;
}
a:visited {
	color:#089fe1;
	background-color:transparent;
	text-decoration:none;
	}
a:hover {
	color:#089fe1;
	background-color:transparent;
	text-decoration:underline;
	}
a:active {
	color:#089fe1;
	background-color:transparent;
	text-decoration:none;
	}
/*FOOTERS*/	
.footer {
	margin-top:auto;
	padding:8px 0px 4px 0px;
	text-align:left;
	background-color:#2f3136;
	color:#75797e;
	left:0;
	bottom:0;
	flex-direction: column;
}
.footer-upper {
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:center;
	gap:0px 150px;
	padding:20px 0px 20px 0px;
}
.footer-lower {
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:center;
	gap:0px 5px;
	padding:10px 0px 10px 0px;
}
.footer-list {
	display: flex;
	flex-direction: column;
}
/*TABLES*/	
table {
	border: 1px solid;
	border-color: white;
	border-collapse:collapse;
	margin:8px 0px 0px 8px;
	width:50%;	
}
th,td {
	border:1px solid;
	border-color:white;
	border-collapse:collapse;
	padding:5px;
}
/*MISC*/
.flex-container {
  display: flex;
  flex-direction: row;
}