body {
	margin:0;
	padding:0;
	background-color:#36393f;
	font-family:Tahoma;
	color:white;
}
p {
	margin:8px 0px 0px 8px;
}
h1 {
	margin:8px 0px 0px 8px;
}
h2 {
	margin:8px 0px 0px 8px;
}
link {
	color:#089fe1;
	background-color:transparent;
	text-decoration:none;
}
visited {
	color:#089fe1;
	background-color:transparent;
	text-decoration:none;
	}
hover {
	color:#089fe1;
	background-color:transparent;
	text-decoration:underline;
	}
active {
	color:#089fe1;
	background-color:transparent;
	text-decoration:none;
	}	